<template>
  <v-container class="parent">
    <h1>Task Manager</h1>
    <v-btn class="addTaskBtn" @click="updateDialogStatus(true)">Add New Task</v-btn>
    <v-card>
      <v-data-table :items="items" :headers="headers">
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.status }}</td>
            <td>
              <v-icon v-if="item.status !== 'completed'" @click="updateStatus(item, 'completed')" color="green">
                mdi-check</v-icon>
              <v-icon @click="deleteItem(item)" color="red" class="ml-1 mr-1">
                mdi-close</v-icon>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent width="1000">
      <v-card class="card-parent">
        <v-form ref="myForm" class="form" @submit.prevent>
          <v-text-field class="form-input" v-model="form.title" label="Title" :rules="rules.required" outlined
            hide-details="auto">
          </v-text-field>
          <div style="display: flex; gap: 1rem">
            <v-btn class="form-button" @click=(updateDialogStatus(false))>Cancel</v-btn>
            <v-btn class="form-button" @click=(submit)>Submit</v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import axios from "axios";
import swal from 'sweetalert2';

const dialog = ref(false)
const form = ref({ title: '', status: 'active' })
const headers = [
  { title: "Title", sortable: true, align: "center" },
  { title: "Status", sortable: false, align: "center" },
  { title: "Action", sortable: false, align: "center" },
];
const items = ref([]);
const myForm = ref(null)

const rules = {
  required: [(v) => !!v || "Field is required"],
  min: [(v) => v.length >= 8 || "Min 8 characters"],
  email: [
    (v) => !!v || "E-mail is required",
    (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
  ],
  contact: [
    (v) =>
      (v !== null && v !== undefined && /^\d+$/.test(v)) ||
      "Only numeric values are allowed",
    (v) =>
      (v !== null && v !== undefined && v.length >= 11) ||
      "Min 11 characters",
    (v) =>
      (v !== null && v !== undefined && v.length <= 11) ||
      "Max 11 characters",
  ],
}

onMounted(() => {
  fetchData()
});

const fetchData = async () => {
  try {
    const response = await axios.get("http://localhost:4000/api/tasks");
    items.value = response.data
  } catch (error) {
    console.error("Error fetching tasks:", error);
  }
}

const submit = async () => {
  // this validation used to work in vue 2 that im using in my previous projects
  // if ((myForm.value as any).validate()) { 
  //   console.log(form.value);
  // }

  if (form.value.title && form.value.title.trim() !== '') {
    const payload = form.value
    const response = await axios.post("http://localhost:4000/api/tasks", payload);
    if (response.status === 200) {
      swal.fire({
        icon: "success",
        title: "Insert success",
        text: response.data.message,
        showConfirmButton: false,
        timer: 2000,
      });
      updateDialogStatus(false);
      fetchData();
      form.value.title = ''
    }
  }
}

const updateDialogStatus = (status: boolean) => {
  dialog.value = status
}

const updateStatus = async (item: any, status: string) => {
  const payload = { id: item.id, status: status }
  const response = await axios.put("http://localhost:4000/api/tasks", payload);
  if (response.status === 200) {
    swal.fire({
      icon: "success",
      title: "Update success",
      text: response.data.message,
      showConfirmButton: false,
      timer: 2000,
    });
    fetchData();
  }
};

const deleteItem = async (item: any) => {
  const response = await axios.delete(`http://localhost:4000/api/tasks/${item.id}`);
  if (response.status === 200) {
    swal.fire({
      icon: "success",
      title: "Delete success",
      text: response.data.message,
      showConfirmButton: false,
      timer: 2000,
    });
    fetchData();
  }
};

</script>

<style>
.parent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.addTaskBtn {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}


.form-input {
  width: 90%;
}
</style>